<!DOCTYPE html>
<html>
<head>
    <title>Smart Book Retrieval System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>Smart Book Retrieval System</h1>

    <form method="POST">

        <label>Search By:</label>

        <select name="search_by">
            <option value="title" {% if search_by=="title" %}selected{% endif %}>
                Book Title
            </option>

            <option value="author" {% if search_by=="author" %}selected{% endif %}>
                Author
            </option>
        </select>

        <input
            type="text"
            name="query"
            placeholder="Enter Book Title or Author"
            value="{{ query }}"
            required
        >

        <button type="submit">Search</button>

    </form>

    {% if result %}

    <div class="result">

        <h3>Book Found</h3>

        <p><strong>Title:</strong> {{ result.title }}</p>

        <p><strong>Author:</strong> {{ result.author }}</p>

        <table>
            <tr>
                <th>Algorithm</th>
                <th>Time Complexity</th>
                <th>Time Taken (ms)</th>
            </tr>

            <tr>
                <td>Linear Search</td>
                <td>O(n)</td>
                <td>{{ linear_time }}</td>
            </tr>

            {% if binary_time is not none %}
            <tr>
                <td>Binary Search</td>
                <td>O(log n)</td>
                <td>{{ binary_time }}</td>
            </tr>
            {% endif %}
        </table>

        <p class="conclusion">{{ conclusion }}</p>

    </div>

    {% elif linear_time is not none %}

    <div class="result">
        <h3>Book Not Found</h3>

        <table>
            <tr>
                <th>Algorithm</th>
                <th>Time Complexity</th>
                <th>Time Taken (ms)</th>
            </tr>

            <tr>
                <td>Linear Search</td>
                <td>O(n)</td>
                <td>{{ linear_time }}</td>
            </tr>

            {% if binary_time is not none %}
            <tr>
                <td>Binary Search</td>
                <td>O(log n)</td>
                <td>{{ binary_time }}</td>
            </tr>
            {% endif %}
        </table>

        <p class="conclusion">{{ conclusion }}</p>

    </div>

    {% endif %}

</div>

</body>
</html>